
.home .ad,
.archive .ad,
.search .ad {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
  box-shadow: none;
  padding: 25px;
  width: 100%;
  &-logo {
    width: 56px;
    height: 56px; 
    margin-bottom: 10px; 
  }
  .button {
    background-color: $blue;
    color: #FFF;
    text-transform: uppercase;
    height: 36px;
    padding: 7px 25px;
    font-size: 13px;
    letter-spacing: .05px;
    border-radius: 3px;
  }
  .entry-title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  &-template-1 {
    text-align: center;
    .entry-content {
      position: absolute;
      width:100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    .button {
      &:hover {
        color: #000;
      }
    }
  }
  &-template-2 {
    padding-top: 45px;
  }
  &-template-3 {
    background-image: linear-gradient(to top, rgba(0,178,216,0.8) 0%,rgba(0,121,175,0.8) 100%);
    color: #FFF;
    .button {
      background-color: #FFF;
      color: $blue;
      &:hover {
        background-color: $blue;
        color: #000;
      }
    }
    .entry-content {
      position: absolute;
      width:100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: 40px;
    }
    .entry-category {
      color: #FFF;
      opacity: .6;
    }
  }
}
