/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

/* ## Featured Content
--------------------------------------------- */

article.entry.featured-entry {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(((100% - 1080px) / 2) + 720px);
  max-width: calc(((100% - 1080px) / 2) + 720px);
  margin-right: calc((100% - 1080px) / 2);
  .entry-content {
    background-color: #FFF;
    width: 360px;
    height: 400px;
    margin-top: 38px;
    margin-left: 25px;
    position: relative;
    padding: 0;
    p {
      margin: 0;
    }
  }
  .entry-content-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 40px;
    transform: translateY(-50%);
  }
  .entry-thumbnail {
    display: none;
  }
}

.entry-thumbnail {
  width: 100%;
  height: 175px;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.entry-category {
  text-transform: uppercase;
  font-size: 13px;
  color: $grey;
  letter-spacing: 0.5px;
}

.entry {
	background-color: #fff;
	margin-bottom: 40px;
  position: relative;
}

.home .entry-content,
.archive .entry-content,
.search .entry-content,
.related-posts .entry-content {
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.home .entry,
.related-posts .entry,
.archive .entry,
.search .entry {
	padding-top: 0;
  float: left;
  overflow: hidden;
  margin-bottom: 58px;
  height: 475px;
  max-width: 360px; 
  box-shadow: 0px 4px 10px 0px rgba(38,36,40,0.10);
  margin-right: calc((100% - 1080px) / 2);
  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: none;
  &::before {
    content: "•";
    position: relative;
    left: -25px;
    margin-right: -8px;
  }
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #333;
	color: #eee;
}

/* ## Entry Meta
--------------------------------------------- */

.single-post .site-inner {
  max-width: 100%;
  padding: 0;
  .entry-thumbnail {
    height: 700px;
  }
  .entry {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -270px;
    background-color: #FFF;
    padding: 75px 120px;
  }
  .entry-meta {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 60px;
    color: $grey;
    line-height: 1.3;
    &:first-line { // author
      font-size: 16px;
      color: $black;
    }
  }
  .entry-category {
    margin-bottom: 3px;
  }
}