/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	clear: both;
	padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 380px;
}

.footer-widgets-1 {
	margin-right: 70px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
  height: 140px;
}

.site-footer p {
	margin-bottom: 0;
}

/* ## Footer Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu a {
	padding: 0 20px 10px;
  margin-top: 65px;
  font-size: 13px;
  color: #7D7C7E;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}