/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 1px;
	padding: 12px 30px;
}

.after-entry,
.archive-description,
.author-box {
	background-color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 40px;
  flex-basis: 100%;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}
