/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background: #00B2D8;
  background-image: linear-gradient(to right, rgba(0,178,216,0.8) 0%,rgba(0,121,175,0.8) 100%);
  height: 100px;
  z-index: 1000;
}

.site-header > .wrap {
	padding: 15px 0;
}

/* ## Title Area
--------------------------------------------- */

.header-logo {
  float: left;
  margin-right: 10px;
  margin-left: -5px;
  margin-top: 5px;
  height: 40px;
}

.title-area {
	float: left;
	padding: 10px 0;
	width: 60%;
  max-width: 600px;
}

.header-image .title-area {
	margin: 0 auto;
	max-width: 300px;
	padding: 0;
}

.header-full-width .title-area {
	float: none;
	width: 100%;
}

.site-title {
	font-size: 24px;
	line-height: 1.2; 
  color: #FFF;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
  color: #FFF;
	text-decoration: none;
}

.header-image .site-title > a {
	background-position: center !important;
	background-size: contain !important;
	float: left;
	min-height: 80px;
	width: 100%;
}

.site-description {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
}

.site-description,
.site-title {
	margin-bottom: 0;
  font-weight: normal;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}