/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: left;
  &:first-child a {
    padding-left: 0;
  }
}

.genesis-nav-menu a {
  font-size: 13px;
  color: #7D7C7E;
  letter-spacing: 0.5px;
  text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
	color: $blue;
}

.genesis-nav-menu .sub-menu {
	border-top: 1px solid #eee;
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: 0;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 20px;
	position: relative;
	width: 200px;
	word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -56px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	float: right;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## After Header Navigation
--------------------------------------------- */

.nav-primary {
  height: 70px;
  box-shadow: 0 2px 6px 1px rgba(38,37,40,.1);
} 

/* ## Mobile menu 
--------------------------------------------- */
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 16px;
  height: 17px;
  width: 26px;
  display: none;
  cursor: pointer;
}

.menu-open {
  box-shadow: 0 4px 10px 0 rgba(38,36,40,0.10);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.mobile-menu {
  display: none; 
  background-image: linear-gradient(to right, rgba(0,178,216,0.8) 0%,rgba(0,121,175,0.8) 100%);
  color: #FFF;
  background-color: #FFF;
  padding: 16px;
  height: calc(100vh - 60px);
  width: 100%;
  z-index: 1000;
  overflow: auto;
  &.open {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
  }
  input[type="search"] {
    background-color: transparent;
    margin-bottom: 5vh;
    padding-bottom: 3px;
    width: calc(100% - 25px);
    border-color: rgba(#FFF, .4);
    color: #FFF;
    &::-webkit-input-placeholder {
      color: #FFF;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: #FFF;
      opacity: 1;
    }
    &::placeholder {
      color: #FFF;
      opacity: 1;
    }
  }
  .search-form {
    margin: 0;
    overflow: auto;
    .search-icon-mobile {
      display: block;
    }
    .search-icon {
      display: none;
    }
  }
  .entry-category {
    color: #FFF;
    margin-bottom: 16px;
    opacity: .5;
  }
  .nav-secondary { // footer content
    text-align: center;
  }
  a {
    color: #FFF;
    &:hover {
      color: #FFF !important;
    }
  }
  .menu-social-media-container {
    margin-top: 5vh; 
  }
  .subscribe-submit, .subscribe-input {
    width: 100%;
    border-radius: 5px;
    height: 36px;
  }
  .subscribe-input {
    margin-bottom: 12px;
  }
  .subscribe-submit {
    margin-bottom: 45px;
  }
  .category-menu {
    margin-bottom: 5vh;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 16px;
    li {
      margin-bottom: 8px;
      display: block;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

