/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
  margin-top: -15px;
  flex: 1 100%;
  text-align: center;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: #fff;
	color: #333; 
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.pagination.archive-pagination li a:hover,
.pagination.archive-pagination .active a {
	background-color: transparent;
	color: $blue;
}
