// Related posts
.related-posts {
  max-width: 1200px;
  margin: 50px auto;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: auto;
  &-title {
    text-align: center;
    color: #007BAF;
    font-size: 21px;
    margin-bottom: 55px;
  }
}
.related-post {
  font-size: 16px;
  float: left;
  max-width: 360px;
  height: 322px;
  box-shadow: 0px 4px 10px 0px rgba(38,36,40,0.10);
  margin-right: calc((100% - 1080px) / 2);
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  &-content {
    padding-left: 24px;
    padding-right: 24px;
  }
  &-thumbnail {
    width: 100%;
    height: 175px;
    margin-bottom: 25px;
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  &-title {
    font-size: 20px;
    a { color: $black; }
  }
  &-category {
    text-transform: uppercase;
    font-size: 13px;
    color: $grey;
    letter-spacing: 0.5px;
  }
}