/* ## Search Form
--------------------------------------------- */

.search-form {
	position: relative;
}

.entry-content .search-form,
.site-header .search-form {
	margin-bottom: 40px;
}

.site-header .search-form {
	margin: 12px auto 0;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}


.search-form {
  margin-top: 25px;
  input[type="search"] {
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(#7D7C7E, .6);
    font-size: 13px;
    float: left;
    width: auto;
  }
  input[type="image"] {
    border: 0;
    background-color: transparent;
    padding: 0;
    float: right;
  }
  .search-icon-mobile {
    display: none;
    height: 18px;
    width: 17px;
    margin-top:3px;
  }
}
