// Social media menu
.menu-social-media-container {
  float: right;
  margin-top: 60px;
  li { 
    float: left;
    margin-right: 40px;
    background-position: center;
    background-repeat: no-repeat;
    a {
      height: 20px;
      width: 20px;
      display: inline-block;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.fb-icon {
  background-image: url('images/social_fb.svg');
}
.ig-icon {
  background-image: url('images/social_ig.svg');
}
.twitter-icon {
  background-image: url('images/social_twitter.svg');
}
.nav-secondary {
  float: left;
}

.mobile-menu {
  .fb-icon {
  background-image: url('images/social_fb_white.svg');
  }
  .ig-icon {
    background-image: url('images/social_ig_white.svg');
  }
  .twitter-icon {
    background-image: url('images/social_twitter_white.svg');
  }
}


// Share buttons for article pages
.share-box {
  position: absolute;
  left: -100px;
  top: 290px;
}

.sharrre {
  width: 36px;
  height: 36px; 
  border-radius: 50%;
  background-color: $blue;
  overflow: hidden;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  &.email {
    background-image: url('images/social_share_white.svg');
    background-color: #DD4B39;
  }
  &.twitter {
    background-image: url('images/social_twitter_white.svg');
    background-color: #55ACEE;
    background-size: 18px;
  }
  &.facebook {
    background-image: url('images/social_fb_white.svg');
    background-color: #3B5998;
    background-size: 10px;
  }
  &.linkedin {
    background-image: url('images/social_linkedin_white.svg');
    background-color: #0778B5;
  }
}
.count {
  display: none;
}
.share {
  opacity: 0;
  display: block;
}

