// Subscribe footer
.subscribe-footer {
  text-align: center;
  max-height: 300px;
  background: #00B2D8;
  background-image: linear-gradient(to right, rgba(0,178,216,0.8) 0%,rgba(0,121,175,0.8) 100%);
  color: #FFF;
  padding: 70px 20px;
  h3 {
    font-size: 26px;
  }
  p {
    font-size: 16px; 
  }
}
.subscribe-input {
  width: 330px;
  height: 48px;
  background-color: transparent;
  color: #FFF;
  font-size: 13px;
  border: 1px solid #FFF; 
  border-radius: 5px 0 0 5px;
  &::-moz-placeholder {
	  color: #FFF;
	  opacity: .6;
  }

  &::-webkit-input-placeholder {
    color: #FFF;
  }
  &::placeholder {
    color: #FFF;
  }
}
.subscribe-submit {
  height: 48px;
  width: 130px;
  padding: 0;
  background-color: #FFF;
  color: $blue;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .5px;
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 4px 6px 0 rgba(38,36,40,0.10);
}

// header 
.header-widget-area {
  .subscribe-input,
  .subscribe-submit {
    height: 36px;
  }
  .subscribe-input {
    padding-top: 12px;
    width: 320px;
  }
  .subscribe-submit {
    width: 110px;
    float: right;
    margin-top: 3px;
  }
}