
/* ## Titles
--------------------------------------------- */

.archive-description .entry-title,
.archive-title,
.author-box-title {
	font-size: 26px;
}

.entry-title {
	font-size: 34px;
}

.home .entry-title,
.archive .entry-title,
.search .entry-title,
.related-posts .related-entry-title {
  font-size: 20px;
  line-height: 28px;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:focus {
	color: $blue;
}

.widget-title {
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 20px;
}