/*
	Theme Name: Spruce Health
	Theme URI: http://www.studiopress.com/
	Description: Customized Genesis Child Theme
	Author: Sarah Federman
	Author URI: http://sarah.codes
  Version: 1.0
	Template: genesis
*/

@import "variables";
@import "baseline";
@import "typography";
@import "attachments";
@import "gallery";
@import "forms";
@import "tables"; 
@import "search-form";
@import "layout";
@import "avatar";
@import "genesis";
@import "titles";
@import "wordpress";
@import "header";
@import "widget-area";
@import "nav";
@import "entry";
@import "pagination";
@import "footer";
@import "related-posts";
@import "social-media";
@import "subscribe-form";
@import "ads"; 

// Prevent scrolling during overlay
body.no-scroll { 
  overflow: hidden;
}

// Comments
#disqus_thread {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  margin-bottom: 80px;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1340px) {

	.site-inner,
	.wrap, 
  .related-posts {
		max-width: 1140px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 920px;
	}

	.content {
		width: 800px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 580px;
	}

	.sidebar-primary {
		width: 300px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 340px;
	}

	.footer-widgets-1 {
		margin-right: 60px;
	}
}

@media only screen and (max-width: 1200px) {
	.site-inner,
	.wrap,
  .related-posts {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 300px;
	}

	.footer-widgets-1 {
		margin-right: 30px;
	}

  .home .entry, 
  .archive .entry,
  .search .entry,
  .related-post { 
    max-width: 31%;
    margin-right: 3.5%;
  }

  article.entry.featured-entry {
    margin-right: 3.5%;
    max-width: 65.5%;
    .entry-content {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .entry-thumbnail {
    margin-bottom: 20px;
  }

  .related-post-thumbnail {
    height: 160px;
  }

  .home .entry-content,
  .search .entry-content,
  .archive .entry-content {
    padding-left: 15px;
    padding-right: 15px;
  } 

  .header-widget-area {
    .subscribe-input {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 1023px) {

	.site-inner,
	.wrap, 
  .related-posts {
		max-width: 800px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.js .genesis-nav-menu .sub-menu a,
	.js .genesis-nav-menu .sub-menu,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.genesis-nav-menu li,
	.header-image .title-area,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.footer-widgets-1,
	.footer-widgets-2 {
		margin: 0 auto 40px;
	}

  .related-posts {
    padding-left: 30px;
    padding-right: 30px;
  }

  .related-post {
    max-width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
    height: 310px;
  }

  .home .entry,
  .search .entry,
  .archive .entry { 
    max-width: 47%;
    margin-right: 6%;
    &:nth-of-type(3n) {
      margin-right: 6%; //reset back
    }
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
  article.entry.featured-entry {
    padding-top: 0;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  .site-description {
    display: none;
  }
  .site-title {
    font-size: 20px;
    margin-top: 5px;
  }
  .site-header {
    height: 60px;
    .wrap {
      padding: 0 20px;
    }
  }
  .header-logo {
    height: 30px;
    width: 30px;
  }
  .header-widget-area {
    display: none;
  }

  .subscribe-footer {
    max-height: 300px;
    padding: 65px 20px;
  }

  #disqus_thread, .share-box {
    display: none;
  }
  
  // show mobile menu
  .nav-primary {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}

@media only screen and (max-width: 860px) {

	body > div {
		font-size: 1.8rem;
	}

	body {
		font-size: 18px;
		font-size: 1.8rem;
	}

	.site-inner {
		padding: 5% 5% 0;
	}

	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.after-entry,
	.archive-description,
	.author-box,
	.comment-respond,
	.entry-comments,
	.entry-pings,
	.sidebar .widget {
		margin-bottom: 5%;
	}

	.sidebar {
		margin-bottom: 5%;
	}

	.pagination {
		margin: 5% auto;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

  .home .entry,
  .archive .entry,
  .search .entry,
  .featured-entry {
    max-width: 100%;
    height: 310px;
    margin: 0;
    float: none;
    margin-bottom: 35px;
    p {
      display: none;
    }
    &:nth-of-type(3n) { margin-right: 0; }
    &:nth-of-type(2n) { margin-right: 0; }
  }

  .entry-thumbnail {
    max-height: 160px;
  }

  article.entry.featured-entry {
    width: 100%;
    margin-right: 0;
    max-width: 100%;
    height: 310px;
    background-image: none !important;
    background-color: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(38,36,40,0.10);
    .entry-content {
      height: auto;
      margin: 0;
      padding: 0 15px;
    }
    .entry-thumbnail {
      display: block;
      max-height: 160px;
    }
  }
  .single-post .site-inner {
    .entry {
      margin-top: 0;
      padding: 35px 30px;
      line-height: 30px;
    }
    .entry-title {
      font-size: 26px;
    }
    .entry-thumbnail {
      max-height: 175px;
    }
  }

  .nav-secondary,
  .menu-social-media-container {
    float: none;
  }
  .menu-social-media-container {
    text-align: center;
    li {
      float: none;
      display: inline;
    }
  }

  .site-footer {
    height: auto;
    padding: 100px 0;
  }
  .site-footer .genesis-nav-menu,
  .mobile-menu .genesis-nav-menu {
    li {
      display: block;
      text-align: center;
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      margin-top: 0;
      padding: 0;
    }
  }
  
  .subscribe-footer {
    max-height: 450px;
    .subscribe-input, 
    .subscribe-submit {
      border-radius: 5px;
    }
    .subscribe-input {
      margin-bottom: 20px;
      width: 328px;
    }
    .subscribe-submit {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p { 
      margin: 30px 0;
    }
  }
  
  .home .ad.ad-template-2{
    text-align: center;
  }

  article.entry.featured-entry .entry-content-wrapper {
    padding: 0;
    position: static;
    transform: none;
  }

  .entry figure {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    img {
      width: 100% !important; 
    }
  }
  .entry img.alignright, .entry img.alignleft {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@import "print";
