@charset "UTF-8";
/*
	Theme Name: Spruce Health
	Theme URI: http://www.studiopress.com/
	Description: Customized Genesis Child Theme
	Author: Sarah Federman
	Author URI: http://sarah.codes
  Version: 1.0
	Template: genesis
*/
/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template, [hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* ## Box Sizing
--------------------------------------------- */
html,
input[type="search"] {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* ## Float Clearing
--------------------------------------------- */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
  content: " ";
  display: table; }

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table; }

/* ## Typographical Elements
--------------------------------------------- */
html {
  font-size: 62.5%;
  /* 10px browser default */ }

/* Chrome fix */
body > div {
  font-size: 2rem; }

body {
  background-color: #fff;
  color: #262528;
  font-family: "acumin-pro",sans-serif;
  font-size: 20px;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.625;
  margin: 0; }

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

a {
  color: #00B2D8;
  text-decoration: none; }

a:hover,
a:focus {
  color: #333;
  text-decoration: none; }

p {
  margin: 0 0 28px;
  padding: 0; }

ol,
ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 2px solid #00B2D8;
  clear: both;
  width: 140px;
  margin: 3em auto 2em; }

b,
strong {
  font-weight: 700; }

blockquote,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 40px; }

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  font-size: 3rem;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px; }

/* ## Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "acumin-pro",sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 10px; }

h1 {
  font-size: 36px;
  font-size: 3.6rem; }

h2 {
  font-size: 30px;
  font-size: 3rem; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h4 {
  font-size: 20px;
  font-size: 2rem; }

h5 {
  font-size: 18px;
  font-size: 1.8rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

/* ## Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%; }

img {
  height: auto; }

figure {
  margin: 0; }

/* ## Gallery
--------------------------------------------- */
.gallery {
  overflow: hidden; }

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center; }

.gallery-columns-1 .gallery-item {
  width: 100%; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-3 .gallery-item {
  width: 33%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery-columns-5 .gallery-item {
  width: 20%; }

.gallery-columns-6 .gallery-item {
  width: 16.6666%; }

.gallery-columns-7 .gallery-item {
  width: 14.2857%; }

.gallery-columns-8 .gallery-item {
  width: 12.5%; }

.gallery-columns-9 .gallery-item {
  width: 11.1111%; }

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left; }

.gallery img {
  border: 1px solid #eee;
  height: auto;
  padding: 4px; }

.gallery img:hover,
.gallery img:focus {
  border: 1px solid #999; }

/* ## Forms
--------------------------------------------- */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 16px;
  width: 100%; }

input:focus,
textarea:focus {
  outline: none; }

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto; }

::-moz-placeholder {
  color: #333;
  opacity: 1; }

::-webkit-input-placeholder {
  color: #333; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: #333;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto; }

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus {
  background-color: #00B2D8;
  color: #fff; }

.entry-content .button:hover,
.entry-content .button:focus {
  color: #fff; }

.button {
  display: inline-block; }

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
  padding: 8px 16px; }

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
  background-color: #eee;
  border-width: 0;
  color: #777;
  cursor: not-allowed; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none; }

/* ## Tables
--------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%;
  word-break: break-word; }

tbody {
  border-bottom: 1px solid #eee; }

td,
th {
  text-align: left; }

td {
  border-top: 1px solid #eee;
  padding: 6px; }

th {
  font-weight: 400;
  padding: 0 6px; }

td:first-child,
th:first-child {
  padding-left: 0; }

/* ## Screen Reader Text
--------------------------------------------- */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  color: #333;
  background: #fff;
  z-index: 100000;
  /* Above WP toolbar. */
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); }

.more-link {
  position: relative; }

/* ## Search Form
--------------------------------------------- */
.search-form {
  position: relative; }

.entry-content .search-form,
.site-header .search-form {
  margin-bottom: 40px; }

.site-header .search-form {
  margin: 12px auto 0; }

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
  margin-top: 10px; }

.search-form {
  margin-top: 25px; }
  .search-form input[type="search"] {
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(125, 124, 126, 0.6);
    font-size: 13px;
    float: left;
    width: auto; }
  .search-form input[type="image"] {
    border: 0;
    background-color: transparent;
    padding: 0;
    float: right; }
  .search-form .search-icon-mobile {
    display: none;
    height: 18px;
    width: 17px;
    margin-top: 3px; }

/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
--------------------------------------------- */
.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 1200px; }

.site-inner {
  clear: both;
  padding-top: 80px;
  word-wrap: break-word;
  min-height: calc(100vh - 310px); }

.landing-page .site-inner {
  max-width: 800px; }

/* ## Column Widths and Positions
--------------------------------------------- */
/* ### Wrapping div for .content and .sidebar-primary */
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 1060px; }

.content-sidebar-sidebar .content-sidebar-wrap {
  float: left; }

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  float: right; }

/* ### Content */
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left; }

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 660px; }

.full-width-content .content {
  width: 100%; }

/* ### Primary Sidebar */
.sidebar-primary {
  float: right;
  width: 360px; }

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
  float: left; }

/* ### Secondary Sidebar */
.sidebar-secondary {
  float: left;
  width: 180px; }

.content-sidebar-sidebar .sidebar-secondary {
  float: right; }

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%; }

.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%; }

.one-third,
.two-sixths {
  width: 31.623931623931625%; }

.four-sixths,
.two-thirds {
  width: 65.81196581196582%; }

.one-fourth {
  width: 23.076923076923077%; }

.three-fourths {
  width: 74.35897435897436%; }

.one-sixth {
  width: 14.52991452991453%; }

.five-sixths {
  width: 82.90598290598291%; }

.first {
  clear: both;
  margin-left: 0; }

/* ## Avatar
--------------------------------------------- */
.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  margin-top: -5px;
  float: left; }

/* ## Genesis
--------------------------------------------- */
.breadcrumb {
  background-color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1px;
  padding: 12px 30px; }

.after-entry,
.archive-description,
.author-box {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 40px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0; }

/* ## Titles
--------------------------------------------- */
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 26px; }

.entry-title {
  font-size: 34px; }

.home .entry-title,
.archive .entry-title,
.search .entry-title,
.related-posts .related-entry-title {
  font-size: 20px;
  line-height: 28px; }

.entry-title a,
.sidebar .widget-title a {
  color: #333;
  text-decoration: none; }

.entry-title a:hover,
.entry-title a:focus {
  color: #00B2D8; }

.widget-title {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 20px; }

/* ## WordPress
--------------------------------------------- */
a.aligncenter img {
  display: block;
  margin: 0 auto; }

a.alignnone {
  display: inline-block; }

.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px; }

img.alignnone,
.alignnone {
  margin-bottom: 12px; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px; }

.wp-caption-text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 28px; }

/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  background: #00B2D8;
  background-image: -webkit-linear-gradient(left, rgba(0, 178, 216, 0.8) 0%, rgba(0, 121, 175, 0.8) 100%);
  background-image: linear-gradient(to right, rgba(0, 178, 216, 0.8) 0%, rgba(0, 121, 175, 0.8) 100%);
  height: 100px;
  z-index: 1000; }

.site-header > .wrap {
  padding: 15px 0; }

/* ## Title Area
--------------------------------------------- */
.header-logo {
  float: left;
  margin-right: 10px;
  margin-left: -5px;
  margin-top: 5px;
  height: 40px; }

.title-area {
  float: left;
  padding: 10px 0;
  width: 60%;
  max-width: 600px; }

.header-image .title-area {
  margin: 0 auto;
  max-width: 300px;
  padding: 0; }

.header-full-width .title-area {
  float: none;
  width: 100%; }

.site-title {
  font-size: 24px;
  line-height: 1.2;
  color: #FFF; }

.site-title a,
.site-title a:hover,
.site-title a:focus {
  color: #FFF;
  text-decoration: none; }

.header-image .site-title > a {
  background-position: center !important;
  background-size: contain !important;
  float: left;
  min-height: 80px;
  width: 100%; }

.site-description {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px; }

.site-description,
.site-title {
  margin-bottom: 0;
  font-weight: normal; }

.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px; }

/* ## Widget Area
--------------------------------------------- */
.site-header .widget-area {
  float: right;
  text-align: right;
  width: auto;
  margin-top: 15px; }

/* # Widgets
---------------------------------------------------------------------------------------------------- */
.widget {
  margin-bottom: 40px;
  word-wrap: break-word; }

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
  margin-bottom: 0; }

.widget ul > li {
  margin-bottom: 10px;
  padding-bottom: 10px; }

.widget ul > li:last-of-type {
  padding-bottom: 0; }

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px; }

.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0; }

.widget_calendar table {
  width: 100%; }

.widget_calendar td,
.widget_calendar th {
  text-align: center; }

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu {
  clear: both;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  width: 100%; }

.genesis-nav-menu .menu-item {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left; }
  .genesis-nav-menu .menu-item:first-child a {
    padding-left: 0; }

.genesis-nav-menu a {
  font-size: 13px;
  color: #7D7C7E;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px; }

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
  color: #00B2D8; }

.genesis-nav-menu .sub-menu {
  border-top: 1px solid #eee;
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  width: 200px;
  z-index: 99; }

.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px;
  position: relative;
  width: 200px;
  word-wrap: break-word; }

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -56px 0 0 199px; }

.genesis-nav-menu .menu-item:hover {
  position: static; }

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1; }

.genesis-nav-menu > .first > a {
  padding-left: 0; }

.genesis-nav-menu > .last > a {
  padding-right: 0; }

.genesis-nav-menu > .right {
  float: right; }

/* ## Accessible Menu
--------------------------------------------- */
.menu .menu-item:focus {
  position: static; }

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1; }

/* ## Site Header Navigation
--------------------------------------------- */
.site-header .genesis-nav-menu li li {
  margin-left: 0; }

/* ## After Header Navigation
--------------------------------------------- */
.nav-primary {
  height: 70px;
  box-shadow: 0 2px 6px 1px rgba(38, 37, 40, 0.1); }

/* ## Mobile menu 
--------------------------------------------- */
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 16px;
  height: 17px;
  width: 26px;
  display: none;
  cursor: pointer; }

.menu-open {
  box-shadow: 0 4px 10px 0 rgba(38, 36, 40, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0; }

.mobile-menu {
  display: none;
  background-image: -webkit-linear-gradient(left, rgba(0, 178, 216, 0.8) 0%, rgba(0, 121, 175, 0.8) 100%);
  background-image: linear-gradient(to right, rgba(0, 178, 216, 0.8) 0%, rgba(0, 121, 175, 0.8) 100%);
  color: #FFF;
  background-color: #FFF;
  padding: 16px;
  height: calc(100vh - 60px);
  width: 100%;
  z-index: 1000;
  overflow: auto; }
  .mobile-menu.open {
    display: block;
    position: fixed;
    top: 60px;
    left: 0; }
  .mobile-menu input[type="search"] {
    background-color: transparent;
    margin-bottom: 5vh;
    padding-bottom: 3px;
    width: calc(100% - 25px);
    border-color: rgba(255, 255, 255, 0.4);
    color: #FFF; }
    .mobile-menu input[type="search"]::-webkit-input-placeholder {
      color: #FFF;
      opacity: 1; }
    .mobile-menu input[type="search"]::-moz-placeholder {
      color: #FFF;
      opacity: 1; }
    .mobile-menu input[type="search"]:-ms-input-placeholder {
      color: #FFF;
      opacity: 1; }
    .mobile-menu input[type="search"]::placeholder {
      color: #FFF;
      opacity: 1; }
  .mobile-menu .search-form {
    margin: 0;
    overflow: auto; }
    .mobile-menu .search-form .search-icon-mobile {
      display: block; }
    .mobile-menu .search-form .search-icon {
      display: none; }
  .mobile-menu .entry-category {
    color: #FFF;
    margin-bottom: 16px;
    opacity: .5; }
  .mobile-menu .nav-secondary {
    text-align: center; }
  .mobile-menu a {
    color: #FFF; }
    .mobile-menu a:hover {
      color: #FFF !important; }
  .mobile-menu .menu-social-media-container {
    margin-top: 5vh; }
  .mobile-menu .subscribe-submit, .mobile-menu .subscribe-input {
    width: 100%;
    border-radius: 5px;
    height: 36px; }
  .mobile-menu .subscribe-input {
    margin-bottom: 12px; }
  .mobile-menu .subscribe-submit {
    margin-bottom: 45px; }
  .mobile-menu .category-menu {
    margin-bottom: 5vh;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 16px; }
    .mobile-menu .category-menu li {
      margin-bottom: 8px;
      display: block; }
      .mobile-menu .category-menu li:last-child {
        margin-bottom: 0; }

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
--------------------------------------------- */
/* ## Featured Content
--------------------------------------------- */
article.entry.featured-entry {
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(((100% - 1080px) / 2) + 720px);
  max-width: calc(((100% - 1080px) / 2) + 720px);
  margin-right: calc((100% - 1080px) / 2); }
  article.entry.featured-entry .entry-content {
    background-color: #FFF;
    width: 360px;
    height: 400px;
    margin-top: 38px;
    margin-left: 25px;
    position: relative;
    padding: 0; }
    article.entry.featured-entry .entry-content p {
      margin: 0; }
  article.entry.featured-entry .entry-content-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  article.entry.featured-entry .entry-thumbnail {
    display: none; }

.entry-thumbnail {
  width: 100%;
  height: 175px;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center; }

.entry-category {
  text-transform: uppercase;
  font-size: 13px;
  color: #7D7C7E;
  letter-spacing: 0.5px; }

.entry {
  background-color: #fff;
  margin-bottom: 40px;
  position: relative; }

.home .entry-content,
.archive .entry-content,
.search .entry-content,
.related-posts .entry-content {
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px; }

.home .entry,
.related-posts .entry,
.archive .entry,
.search .entry {
  padding-top: 0;
  float: left;
  overflow: hidden;
  margin-bottom: 58px;
  height: 475px;
  max-width: 360px;
  box-shadow: 0px 4px 10px 0px rgba(38, 36, 40, 0.1);
  margin-right: calc((100% - 1080px) / 2); }
  .home .entry:nth-of-type(3n),
  .related-posts .entry:nth-of-type(3n),
  .archive .entry:nth-of-type(3n),
  .search .entry:nth-of-type(3n) {
    margin-right: 0; }

.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px; }

.entry-content ol li {
  list-style-type: decimal; }

.entry-content ul li {
  list-style-type: none; }
  .entry-content ul li::before {
    content: "•";
    position: relative;
    left: -25px;
    margin-right: -8px; }

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0; }

.entry-content code {
  background-color: #333;
  color: #eee; }

/* ## Entry Meta
--------------------------------------------- */
.single-post .site-inner {
  max-width: 100%;
  padding: 0; }
  .single-post .site-inner .entry-thumbnail {
    height: 700px; }
  .single-post .site-inner .entry {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -270px;
    background-color: #FFF;
    padding: 75px 120px; }
  .single-post .site-inner .entry-meta {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 60px;
    color: #7D7C7E;
    line-height: 1.3; }
    .single-post .site-inner .entry-meta:first-line {
      font-size: 16px;
      color: #262528; }
  .single-post .site-inner .entry-category {
    margin-bottom: 3px; }

/* ## Pagination
--------------------------------------------- */
.pagination {
  clear: both;
  margin: 40px 0;
  margin-top: -15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  text-align: center; }

.adjacent-entry-pagination {
  margin-bottom: 0; }

.archive-pagination li {
  display: inline; }

.archive-pagination a {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 8px 12px;
  text-decoration: none; }

.archive-pagination a:hover,
.archive-pagination a:focus,
.pagination.archive-pagination li a:hover,
.pagination.archive-pagination .active a {
  background-color: transparent;
  color: #00B2D8; }

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  clear: both;
  padding: 60px 0; }

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 380px; }

.footer-widgets-1 {
  margin-right: 70px; }

.footer-widgets-1,
.footer-widgets-2 {
  float: left; }

.footer-widgets-3 {
  float: right; }

/* # Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  height: 140px; }

.site-footer p {
  margin-bottom: 0; }

/* ## Footer Navigation
--------------------------------------------- */
.site-footer .genesis-nav-menu a {
  padding: 0 20px 10px;
  margin-top: 65px;
  font-size: 13px;
  color: #7D7C7E;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.related-posts {
  max-width: 1200px;
  margin: 50px auto;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: auto; }
  .related-posts-title {
    text-align: center;
    color: #007BAF;
    font-size: 21px;
    margin-bottom: 55px; }

.related-post {
  font-size: 16px;
  float: left;
  max-width: 360px;
  height: 322px;
  box-shadow: 0px 4px 10px 0px rgba(38, 36, 40, 0.1);
  margin-right: calc((100% - 1080px) / 2); }
  .related-post:nth-of-type(3n) {
    margin-right: 0; }
  .related-post-content {
    padding-left: 24px;
    padding-right: 24px; }
  .related-post-thumbnail {
    width: 100%;
    height: 175px;
    margin-bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat; }
  .related-post-title {
    font-size: 20px; }
    .related-post-title a {
      color: #262528; }
  .related-post-category {
    text-transform: uppercase;
    font-size: 13px;
    color: #7D7C7E;
    letter-spacing: 0.5px; }

.menu-social-media-container {
  float: right;
  margin-top: 60px; }
  .menu-social-media-container li {
    float: left;
    margin-right: 40px;
    background-position: center;
    background-repeat: no-repeat; }
    .menu-social-media-container li a {
      height: 20px;
      width: 20px;
      display: inline-block; }
    .menu-social-media-container li:last-child {
      margin-right: 0; }

.fb-icon {
  background-image: url("images/social_fb.svg"); }

.ig-icon {
  background-image: url("images/social_ig.svg"); }

.twitter-icon {
  background-image: url("images/social_twitter.svg"); }

.nav-secondary {
  float: left; }

.mobile-menu .fb-icon {
  background-image: url("images/social_fb_white.svg"); }
.mobile-menu .ig-icon {
  background-image: url("images/social_ig_white.svg"); }
.mobile-menu .twitter-icon {
  background-image: url("images/social_twitter_white.svg"); }

.share-box {
  position: absolute;
  left: -100px;
  top: 290px; }

.sharrre {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #00B2D8;
  overflow: hidden;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px; }
  .sharrre.email {
    background-image: url("images/social_share_white.svg");
    background-color: #DD4B39; }
  .sharrre.twitter {
    background-image: url("images/social_twitter_white.svg");
    background-color: #55ACEE;
    background-size: 18px; }
  .sharrre.facebook {
    background-image: url("images/social_fb_white.svg");
    background-color: #3B5998;
    background-size: 10px; }
  .sharrre.linkedin {
    background-image: url("images/social_linkedin_white.svg");
    background-color: #0778B5; }

.count {
  display: none; }

.share {
  opacity: 0;
  display: block; }

.subscribe-footer {
  text-align: center;
  max-height: 300px;
  background: #00B2D8;
  background-image: -webkit-linear-gradient(left, rgba(0, 178, 216, 0.8) 0%, rgba(0, 121, 175, 0.8) 100%);
  background-image: linear-gradient(to right, rgba(0, 178, 216, 0.8) 0%, rgba(0, 121, 175, 0.8) 100%);
  color: #FFF;
  padding: 70px 20px; }
  .subscribe-footer h3 {
    font-size: 26px; }
  .subscribe-footer p {
    font-size: 16px; }

.subscribe-input {
  width: 330px;
  height: 48px;
  background-color: transparent;
  color: #FFF;
  font-size: 13px;
  border: 1px solid #FFF;
  border-radius: 5px 0 0 5px; }
  .subscribe-input::-moz-placeholder {
    color: #FFF;
    opacity: .6; }
  .subscribe-input::-webkit-input-placeholder {
    color: #FFF; }
  .subscribe-input:-ms-input-placeholder {
    color: #FFF; }
  .subscribe-input::placeholder {
    color: #FFF; }

.subscribe-submit {
  height: 48px;
  width: 130px;
  padding: 0;
  background-color: #FFF;
  color: #00B2D8;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .5px;
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 4px 6px 0 rgba(38, 36, 40, 0.1); }

.header-widget-area .subscribe-input,
.header-widget-area .subscribe-submit {
  height: 36px; }
.header-widget-area .subscribe-input {
  padding-top: 12px;
  width: 320px; }
.header-widget-area .subscribe-submit {
  width: 110px;
  float: right;
  margin-top: 3px; }

.home .ad,
.archive .ad,
.search .ad {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: none;
  padding: 25px;
  width: 100%; }
  .home .ad-logo,
  .archive .ad-logo,
  .search .ad-logo {
    width: 56px;
    height: 56px;
    margin-bottom: 10px; }
  .home .ad .button,
  .archive .ad .button,
  .search .ad .button {
    background-color: #00B2D8;
    color: #FFF;
    text-transform: uppercase;
    height: 36px;
    padding: 7px 25px;
    font-size: 13px;
    letter-spacing: .05px;
    border-radius: 3px; }
  .home .ad .entry-title,
  .archive .ad .entry-title,
  .search .ad .entry-title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 30px; }
  .home .ad-template-1,
  .archive .ad-template-1,
  .search .ad-template-1 {
    text-align: center; }
    .home .ad-template-1 .entry-content,
    .archive .ad-template-1 .entry-content,
    .search .ad-template-1 .entry-content {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .home .ad-template-1 .button:hover,
    .archive .ad-template-1 .button:hover,
    .search .ad-template-1 .button:hover {
      color: #000; }
  .home .ad-template-2,
  .archive .ad-template-2,
  .search .ad-template-2 {
    padding-top: 45px; }
  .home .ad-template-3,
  .archive .ad-template-3,
  .search .ad-template-3 {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 178, 216, 0.8) 0%, rgba(0, 121, 175, 0.8) 100%);
    background-image: linear-gradient(to top, rgba(0, 178, 216, 0.8) 0%, rgba(0, 121, 175, 0.8) 100%);
    color: #FFF; }
    .home .ad-template-3 .button,
    .archive .ad-template-3 .button,
    .search .ad-template-3 .button {
      background-color: #FFF;
      color: #00B2D8; }
      .home .ad-template-3 .button:hover,
      .archive .ad-template-3 .button:hover,
      .search .ad-template-3 .button:hover {
        background-color: #00B2D8;
        color: #000; }
    .home .ad-template-3 .entry-content,
    .archive .ad-template-3 .entry-content,
    .search .ad-template-3 .entry-content {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      padding: 40px; }
    .home .ad-template-3 .entry-category,
    .archive .ad-template-3 .entry-category,
    .search .ad-template-3 .entry-category {
      color: #FFF;
      opacity: .6; }

body.no-scroll {
  overflow: hidden; }

#disqus_thread {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  margin-bottom: 80px; }

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1340px) {
  .site-inner,
  .wrap,
  .related-posts {
    max-width: 1140px; }

  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 920px; }

  .content {
    width: 800px; }

  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 580px; }

  .sidebar-primary {
    width: 300px; }

  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3 {
    width: 340px; }

  .footer-widgets-1 {
    margin-right: 60px; } }
@media only screen and (max-width: 1200px) {
  .site-inner,
  .wrap,
  .related-posts {
    max-width: 960px; }

  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px; }

  .content {
    width: 620px; }

  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 400px; }

  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3 {
    width: 300px; }

  .footer-widgets-1 {
    margin-right: 30px; }

  .home .entry,
  .archive .entry,
  .search .entry,
  .related-post {
    max-width: 31%;
    margin-right: 3.5%; }

  article.entry.featured-entry {
    margin-right: 3.5%;
    max-width: 65.5%; }
    article.entry.featured-entry .entry-content {
      padding-left: 24px;
      padding-right: 24px; }

  .entry-thumbnail {
    margin-bottom: 20px; }

  .related-post-thumbnail {
    height: 160px; }

  .home .entry-content,
  .search .entry-content,
  .archive .entry-content {
    padding-left: 15px;
    padding-right: 15px; }

  .header-widget-area .subscribe-input {
    width: 200px; } }
@media only screen and (max-width: 1023px) {
  .site-inner,
  .wrap,
  .related-posts {
    max-width: 800px; }

  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .js .genesis-nav-menu .sub-menu a,
  .js .genesis-nav-menu .sub-menu,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .title-area {
    width: 100%; }

  .site-header .wrap {
    padding-left: 5%;
    padding-right: 5%; }

  .genesis-nav-menu li,
  .header-image .title-area,
  .site-header ul.genesis-nav-menu,
  .site-header .search-form {
    float: none; }

  .footer-widgets-1,
  .footer-widgets-2 {
    margin: 0 auto 40px; }

  .related-posts {
    padding-left: 30px;
    padding-right: 30px; }

  .related-post {
    max-width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
    height: 310px; }

  .home .entry,
  .search .entry,
  .archive .entry {
    max-width: 47%;
    margin-right: 6%; }
    .home .entry:nth-of-type(3n),
    .search .entry:nth-of-type(3n),
    .archive .entry:nth-of-type(3n) {
      margin-right: 6%; }
    .home .entry:nth-of-type(2n),
    .search .entry:nth-of-type(2n),
    .archive .entry:nth-of-type(2n) {
      margin-right: 0; }

  article.entry.featured-entry {
    padding-top: 0;
    max-width: 100%;
    width: 100%;
    margin-right: 0; }

  .site-description {
    display: none; }

  .site-title {
    font-size: 20px;
    margin-top: 5px; }

  .site-header {
    height: 60px; }
    .site-header .wrap {
      padding: 0 20px; }

  .header-logo {
    height: 30px;
    width: 30px; }

  .header-widget-area {
    display: none; }

  .subscribe-footer {
    max-height: 300px;
    padding: 65px 20px; }

  #disqus_thread, .share-box {
    display: none; }

  .nav-primary {
    display: none; }

  .menu-toggle {
    display: block; } }
@media only screen and (max-width: 860px) {
  body > div {
    font-size: 1.8rem; }

  body {
    font-size: 18px;
    font-size: 1.8rem; }

  .site-inner {
    padding: 5% 5% 0; }

  .wrap {
    padding-left: 5%;
    padding-right: 5%; }

  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry-comments,
  .entry-pings,
  .sidebar .widget {
    margin-bottom: 5%; }

  .sidebar {
    margin-bottom: 5%; }

  .pagination {
    margin: 5% auto; }

  .archive-pagination li a {
    margin-bottom: 4px; }

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%; }

  .home .entry,
  .archive .entry,
  .search .entry,
  .featured-entry {
    max-width: 100%;
    height: 310px;
    margin: 0;
    float: none;
    margin-bottom: 35px; }
    .home .entry p,
    .archive .entry p,
    .search .entry p,
    .featured-entry p {
      display: none; }
    .home .entry:nth-of-type(3n),
    .archive .entry:nth-of-type(3n),
    .search .entry:nth-of-type(3n),
    .featured-entry:nth-of-type(3n) {
      margin-right: 0; }
    .home .entry:nth-of-type(2n),
    .archive .entry:nth-of-type(2n),
    .search .entry:nth-of-type(2n),
    .featured-entry:nth-of-type(2n) {
      margin-right: 0; }

  .entry-thumbnail {
    max-height: 160px; }

  article.entry.featured-entry {
    width: 100%;
    margin-right: 0;
    max-width: 100%;
    height: 310px;
    background-image: none !important;
    background-color: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(38, 36, 40, 0.1); }
    article.entry.featured-entry .entry-content {
      height: auto;
      margin: 0;
      padding: 0 15px; }
    article.entry.featured-entry .entry-thumbnail {
      display: block;
      max-height: 160px; }

  .single-post .site-inner .entry {
    margin-top: 0;
    padding: 35px 30px;
    line-height: 30px; }
  .single-post .site-inner .entry-title {
    font-size: 26px; }
  .single-post .site-inner .entry-thumbnail {
    max-height: 175px; }

  .nav-secondary,
  .menu-social-media-container {
    float: none; }

  .menu-social-media-container {
    text-align: center; }
    .menu-social-media-container li {
      float: none;
      display: inline; }

  .site-footer {
    height: auto;
    padding: 100px 0; }

  .site-footer .genesis-nav-menu li,
  .mobile-menu .genesis-nav-menu li {
    display: block;
    text-align: center;
    margin-bottom: 35px; }
    .site-footer .genesis-nav-menu li:last-child,
    .mobile-menu .genesis-nav-menu li:last-child {
      margin-bottom: 0; }
  .site-footer .genesis-nav-menu a,
  .mobile-menu .genesis-nav-menu a {
    margin-top: 0;
    padding: 0; }

  .subscribe-footer {
    max-height: 450px; }
    .subscribe-footer .subscribe-input,
    .subscribe-footer .subscribe-submit {
      border-radius: 5px; }
    .subscribe-footer .subscribe-input {
      margin-bottom: 20px;
      width: 328px; }
    .subscribe-footer .subscribe-submit {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .subscribe-footer p {
      margin: 30px 0; }

  .home .ad.ad-template-2 {
    text-align: center; }

  article.entry.featured-entry .entry-content-wrapper {
    padding: 0;
    position: static;
    -webkit-transform: none;
            transform: none; }

  .entry figure {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important; }
    .entry figure img {
      width: 100% !important; }

  .entry img.alignright, .entry img.alignleft {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%; } }
/* # Print Styles
---------------------------------------------------------------------------------------------------- */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  .site-title > a:after {
    content: ""; }

  thead {
    display: table-header-group; }

  img,
  tr {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 2cm 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid; }

  .content,
  .content-sidebar {
    width: 100%; }

  button,
  input,
  select,
  textarea,
  .breadcrumb,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-reply-title,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .hidden-print,
  .home-top,
  .nav-primary,
  .nav-secondary,
  .post-edit-link,
  .sidebar {
    display: none !important; }

  .title-area {
    text-align: center;
    width: 100%; }

  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0; }

  .site-inner {
    padding-top: 0;
    position: relative;
    top: -100px; }

  .author-box {
    margin-bottom: 0; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3; }

  img {
    page-break-after: avoid;
    page-break-inside: avoid; }

  blockquote,
  pre,
  table {
    page-break-inside: avoid; }

  dl,
  ol,
  ul {
    page-break-before: avoid; } }

/*# sourceMappingURL=style.css.map */